.dot {
        width: 20px;
        height: 20px;
        background-color: #5555FF;
        position: absolute;
        border-radius: 50% 50%;
        cursor: pointer;
        border-width: 0.00em;
	border-style: solid;
        border-color: rgba(255, 255, 255, 0.0);
	box-sizing: border-box;
	display: flex;
	align-items: center;
	justify-content: center;
	font-weight: bold;

	animation-name: dot;
	animation-duration: 1s;
	animation-delay: 1s;
	animation-timing-function: ease-out;
	animation-iteration-count: infinite;
	animation-fill-mode: forwards;
}


.dot::after {
	content: "+";
}

@keyframes dot {
	from {
		border-width: 0.25em;
	        border-color: rgba(255, 255, 255, 0.5);
	}
	to {
		background-color: 0.00em;
	        border-color: rgba(255, 255, 255, 0.0);
	}
}


/* tooltips, found here: https://stackoverflow.com/a/25813336/3417896 */
[data-tooltip]:before {            
	position: absolute;
	content: attr(data-tooltip);
	opacity: 0;
}

[data-tooltip]:hover:before {        
	opacity : 1;
}

