.navbar, .navbar-spacer {
	background-color: rgba(0, 0, 0, 0.5);
	color: #FFFFFF;
}
.navbar-link {
	color: #FFFFFF;
}

/* Generic */
.fa-brands, .fa-solid {
	font-style: normal !important;
}

.section {
  padding: 8rem 0 7rem;
  text-align: center;
}

.section-heading {
	font-family: 'Amaranth', serif !important;
	font-weight: bold;
	text-shadow: 0px 0px 12px rgba(0, 0, 0, 0.35);
}

.section-description, .section-terms {
	text-shadow: 0px 0px 6px rgba(0, 0, 0, 0.7);
}

.section-heading,
.section-description {
  margin-bottom: 1.2rem;
}

.section-description { 
  margin-bottom: 4rem;
}

.section-terms {
  margin-bottom: 0px;
  font-size: 0.75em;
}

.slide {
	min-height: 512px;
}


.splide {
	background-color: #000000;
}

/* Bigger than 550 */
@media (min-width: 550px) {
  .section {
    padding: 12rem 0 11rem;
  }
}

/* Bigger than 750 */
@media (min-width: 750px) {
  .section {
    padding: 14rem 0 15rem;
  }
  .section-description {
    max-width: 60%;
    margin-left: auto;
    margin-right: auto;
  }
}

/* Bigger than 1000 */
@media (min-width: 1000px) {
  .section {
    padding: 20rem 0 19rem;
  }
}




/* Hero
–––––––––––––––––––––––––––––––––––––––––––––––––– */
.hero {
  margin: 0px;
  background-color: #000000;
  background-image: url('../media/underwater.jpg');
  background-size: cover;
  background-position: 75% 50%;
  color: #fff;
  min-height: 400px;
}

.hero .container, .hero .container .row, .hero .container .row .one-half.column {
	height: 100%;
}

.hero .container .row .one-half.column {
	display: flex;
	align-content: center;
	justify-content: center;
	flex-direction: column;
}

@media (max-width: 549px) {
  .hero-heading {
    font-weight: bold;
    text-shadow: 0px 0px 5px rgba(0, 0, 0, 1), 0px 0px 10px rgba(0, 0, 0, 1), 0px 0px 10px rgba(0, 0, 0, 1);
  }
}

@media (min-width: 550px) {
  .hero {
    padding-bottom: 12rem;
    text-align: left;
    height: 165px;
    background-position: 50% 50%;
  }
  .hero-heading {
    font-size: 2.4rem;
  }
}

@media (min-width: 750px) {
  .hero {
    height: 190px;
  }
  .hero-heading {
    font-size: 2.6rem;
  }
  .hero {
    padding: 16rem 0 14rem;
  }
}

@media (min-width: 1000px) {
  .hero {
    padding: 22rem 0;
  }
  .hero-heading {
    font-size: 4.0rem;
  }
}

/*
#3d_stage {
	position: relative;
	max-width: 100%;
	width: 512px;
	height: auto;
}
*/


/* bits
–––––––––––––––––––––––––––––––––––––––––––––––––– */

.timeline {
  background-color: rgba(64, 64, 200, 1.0);
  color: #fff;
}

.integration {
  background-image: url('../media/esp32.jpg');
  background-size: cover;
  background-position: 50% 50%;
  background-attachment: fixed;
  color: #fff;
}

.expand {
  background-image: url('../media/gps.jpg');
  background-size: cover;
  background-position: 50% 50%;
  color: #fff;
}


.shift {
  background-image: url('../media/shift.jpg');
  background-size: cover;
  background-position: 50% 50%;
  background-attachment: fixed;
  color: #fff;
}


/*
	.pager {
	  background-image: url('../media/pager.jpg');
	  background-size: cover;
	  background-position: 50% 50%;
	  color: #fff;
	}
*/

.features {
  background-color: #000000;
  color: #FFFFFF;
  padding: 8rem 0 8rem !important;
}

.assembly {
  background-image: url('../media/boards.jpg');
  background-size: cover;
  background-position: 50% 50%;
  background-color: #000;
  background-attachment: fixed;
  color: #fff;
}

/*
.specifications .container {
	background-color: rgba(255, 255, 255, 0.1);
	border-radius: 15px;
	backdrop-filter: blur(15px);
	box-shadow: 0px 5px 35px rgb(0 0 0 / 50%);
	padding: 30px;
}
*/

.contact {
  background-image: url('../media/oled.jpg');
  background-size: cover;
  background-position: 50% 50%;
  color: #fff;
}

.footer {
  background-color: #444;
  color: #ccc;
}


